.card {
	width: 130px;
	height: 202px;
	position: absolute;
	/* positioned to begin in the middle */
	left: 285px; /* (700 / 2) - (130 / 2) */
	top: 99px; /* (400 / 2) - (202 / 2) */
}

.front-showing .front, .back-showing .back {
	display: block;
}

.front-showing .back, .back-showing .front {
	display: none;
}

.card i {
	color: white;
	display: none;
	position: absolute;
	top: -15px;
}

.card:hover i {
	display: block;
}

/*i:hover {
	display: block;
}*/

#content-container {
	width: 700px;
	height: 400px;
	margin: 20px auto;
	/*border: 1px solid black;*/
	border-radius: 3px;
	background-color: #009933;
	position: relative;
}